/* CSS Google-Homepage Style Sheet */

body {
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 13px
  padding: 10px;
  text-align: center;
}

li {
  display: inline;
  list-style-type: none;
}

ul {
  display: inline;
}

a {
  color: dimgrey;
  text-align: center;
  text-decoration: none;
}

img {
  padding-top: 200px;
  padding-bottom: 10px;
}

.nbl {
  float: left;
  padding-left: 15px;
}

.nbr {
  float: right;
  padding-right: 15px
}
